 :host {
   position: absolute;
   display: block;
   top: 0;
   left: 0;
   width: 100%;
 }
 /* Navbar container */
.navbar {
  overflow: hidden;
  background-color: #9f1246;
  font-family: Arial;
  height: 46px;
  border-bottom: 2px solid rgb(255, 166, 0);
  border-top: 2px solid rgb(255, 166, 0);
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  color: rgb(236, 191, 106);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: rgb(236, 191, 106);
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}


.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #75042e;
  color: rgb(255, 166, 0);
}

.navbar a:focus, .dropdown:focus .dropbtn {
  background-color: #860a38;
  color: rgb(248, 182, 60);
}

.dropbtn:hover {
  cursor: pointer;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  position: absolute;
  background-color: rgb(255, 166, 0);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  top: 46px;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: #9f1246;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: rgb(255, 208, 119);
  color: #7c0c35;
}