/* AppComponent's private CSS styles */
h1 {
  font-size: 1.2em;
  margin-bottom: 0;
}
h2 {
  font-size: 2em;
  margin-top: 0;
  padding-top: 0;
}

#content
{
  height: 100%;
  width: 100%;
  max-height: calc(100% - 80px);
}



#app {
  background-color: #ffffff6c;
  height: auto;
  border: 0;
  padding: 0px;
  width: 100%;
}

:host {
  height: 100%;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  :host {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  #app {
    max-height: 95vh;
    max-width: 90vw;
    border-radius: 20px;
    padding: 16px  0px;
    margin-top: -1vh;
    height: 100%;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 1200px) {
  #app {
    max-height: 95vh;
    max-width: 80vw;
  }
}

/* Large devices (laptops/desktops, 1900px and up) */
@media only screen and (min-width: 1900px) {
  #app {
    max-height: 95vh;
    max-width: 2000px;
  }
}