img {
  height: 200px;
  border-radius: 20px;
}

#details {
  display: flex;
  align-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
  padding: 10px;
  height: calc(100% - 60px);
}
#details div {
  margin: 0 auto;
}

h1, h2, h3, p {
  color: rgba(87, 68, 86, 0.795);
  margin-bottom: 5px;
  text-align: center;
}

h1 {
  color: rgb(87, 68, 86);
  margin-top: 0px;
}

h3 {
  padding-top: 20px;
  padding-bottom: 20px;
}