.interest {
  height: 375px;
  width: 250px; 
  margin: 5px;
  border-radius: 10px;
}

.interest.Game {
  height: 300px;
}

.interest:hover {
  opacity: 1;
}

.interest:hover .content {
  opacity: 1;
  transition: opacity 0.5;
}

.image {
  height: 375px;
  width: 250px; 
  border-radius: 4px 0px 0px 4px;
  overflow: hidden;
  background-size: cover;
  background-position: center; 
  float: left;
  z-index: 0;
  border-radius: 10px;
}

.content {
  transition: opacity 0.5s;
  height: 375px;
  width: 250px; 
  z-index: 2;
  color: white;
  display: flex;
  flex-direction: column;
  float: left;
  opacity: 0;
  background-color: rgba(34, 34, 34, 0.699);
  margin-top: -375px;
  border-radius: 10px;
}

.noimg .content {
  opacity: 1;
  margin-top: 0px;
}

.description {
  padding: 5px 5px;
  overflow-y: auto;
}

.content h3 {
  border-bottom: 2px solid rgb(245, 181, 61);
  color: rgb(245, 181, 61);
  padding: 0px 5px;
  margin: 10px 2px 2px 2px; 
}
