:host
{
  height: 100%;
  display: block;
}

.characters {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.characters {
  flex-basis: 100%;
  min-width: 20%;
  height: calc(100% - 80px);
  overflow-y: auto;
}

.character {
  width: 225px;
  height: 350px;
}
.character {
  margin: 5px;
  background-color: #5d2a7571;
  border-radius: 10px;
}
.character:hover {
  opacity: 0.75;
}

.image {
  height: 300px;
  width: 225px;  
  background-color: white;
  border-radius: 10px 10px 0px 0px;
  overflow: hidden;
  background-size: cover;
  background-position: top; 
  float: left;
  border-bottom: 2px solid goldenrod;
}

.content {
  width: 100%;
  height: auto;
  color: rgb(241, 225, 193);
  float: left;
}

.content h3 {
  color: goldenrod;
  padding: 4px 5px;
  margin: 5px 2px 5px 5px; 
}

.pagination {
  margin-top: 20px;
  display: flex;
  width: 100%;
  align-content: center;
  justify-content: center;
}

.pagination a {
  color: goldenrod;
  float: left;
  text-decoration: none;
  background-color: #86599b;
  margin-left: 10px;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  padding: 10px 15px;
  font-size: 20px;
}

.pagination a.active {
  background-color: #58495f;
  color: goldenrod;
}

.pagination a:hover:not(.active) {
  background-color: #654375;
  color: rgb(255, 219, 152);
  }

.pagination a:first-child {
  margin-left: 0px;
}